@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", serif;
    background-color: #000;
    color: #fff;
}

h1, h2, h3, h4, h5{
    font-family: "Tomorrow", serif;
}
.container{
    max-width: 650px;
}
.score_board{
    border-width: 1.5px !important;
}
.score_number{
    font-size: 5.4rem;
    line-height: 1;
}
.power-btn, .score-btn{
    max-width: 85px;
    max-height: 85px;
}

.play-btn, .stop-btn{
    max-width: 100px;
    max-height: 100px;
}
.btn{
    border-radius: 35% !important;
}

@media only screen and (min-width: 1024px) and (max-height: 600px) and (orientation: landscape) {
    .container{
        width: 95%;
        max-width: unset;
        display: grid;
        height: 100vh;
        align-items: center;
        grid-template-columns: 1fr .8fr;
        gap: 40px;
        padding-top: 0 !important;
        padding-bottom:  0 !important;
    }
    .row.flex-column-reverse.gap-3.gap-sm-0.flex-sm-row.flex-grow-1.pb-4.pb-md-5{
        padding-bottom: 0 !important;
    }
    .d-none.d-sm-block{
        display: none !important;
    }
    .d-sm-none{
        display: block !important;
    }
    .power-btn, .score-btn {
        max-width: 65px;
        max-height: 65px;
    }
    .play-btn, .stop-btn {
        max-width: 80px;
        max-height: 80px;
    }
    .main_control{
        flex-direction: column !important;
        padding-bottom: 0 !important;
        justify-content: space-around;
        height: 100%;
    }
    .main_control .col-6{
        width: 100% !important;
    }
    .col-sm-8.d-flex{
        flex: 0 0 auto;
        width: 75%;
    }
    .col-sm-2{
        flex: 0 0 auto;
        width: 25%;
    }
    .row.flex-grow-1.pb-5{
        padding-bottom: 0 !important;
    }
    .wrapper.flex-grow-1.d-flex.justify-content-center{
        justify-content: space-between !important;
        height: 100%;
        align-items: center;
        flex-direction: row !important;
    }
    .col-sm-2.d-none.d-sm-flex.justify-content-sm-end.mt-5.mt-sm-0{
        display: none !important;
    }
}

@media only screen and (max-width: 590px) {
    .power-btn, .score-btn {
        max-width: 65px;
        max-height: 65px;
    }
    .play-btn, .stop-btn {
        max-width: 80px;
        max-height: 80px;
    }
}
@media only screen and (max-width: 390px){
    .score_number {
        font-size: 4rem;
    }
    .power-btn, .score-btn {
        max-width: 3.5rem;
        max-height: 3.5rem;
    }
    .play-btn, .stop-btn {
        max-width: 4rem;
        max-height: 4rem;
    }
}
@media only screen and (max-height: 400px) and (orientation: landscape) {
    .container{
        width: 95%;
        max-width: unset;
        display: grid;
        height: 100vh;
        align-items: center;
        grid-template-columns: 1fr .8fr;
        gap: 40px;
        padding-top: 0 !important;
        padding-bottom:  0 !important;
    }
    .row.flex-column-reverse.gap-3.gap-sm-0.flex-sm-row.flex-grow-1.pb-4.pb-md-5{
        padding-bottom: 0 !important;
    }
    .d-none.d-sm-block{
        display: none !important;
    }
    .col-sm-2.d-none.d-sm-flex.justify-content-sm-end.mt-5.mt-sm-0{
        display: none !important;
    }
    .d-sm-none{
        display: block !important;
    }
    .power-btn, .score-btn {
        max-width: 3.5rem;
        max-height: 3.5rem;
        padding: 10px !important;
    }
    .score_number {
        font-size: 4.4rem;
    }
    .play-btn, .stop-btn {
        max-width: 4rem;
        max-height: 4rem;
        padding: 10px !important;
    }
    .main_control{
        flex-direction: column !important;
        padding-bottom: 0 !important;
        justify-content: space-around;
        height: 100%;
    }
    .main_control .col-6{
        width: 100% !important;
    }
    .col-sm-8.d-flex{
        flex: 0 0 auto;
        width: 75%;
    }
    .col-sm-2{
        flex: 0 0 auto;
        width: 25%;
    }
    .row.flex-grow-1.pb-5{
        padding-bottom: 0 !important;
    }
    .wrapper.flex-grow-1.d-flex.justify-content-center{
        justify-content: space-between !important;
        height: 100%;
        align-items: center;
        flex-direction: row !important;
    }
}